.middle-content {
    width: 100%;
    display: block;
    position: fixed;
    bottom: 60px;
    top: 75px;
    overflow-y: auto;
}

.centered-card {
    width: 50%;
    margin: auto;
}

.Select-menu-outer {
    /*position: relative !important;*/
    /*height: 160px;*/
}
